.u-section-1 {
  background-image: linear-gradient(#e5e5e5, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 1362px;
}

.u-section-1 .u-text-1 {
  width: 144px;
  margin: 12px auto 0;
}

.u-section-1 .u-gallery-1 {
  width: 948px;
  height: 814px;
  margin: 12px 89px 0 auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-2 {
  width: 946px;
  height: 413px;
  margin: -48px 89px 60px auto;
}

.u-section-1 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    height: 807px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-gallery-2 {
    width: 940px;
    height: 410px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3462px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    height: 1391px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-gallery-2 {
    width: 720px;
    height: 942px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6428px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 187px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 4173px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-2 {
    width: 540px;
    height: 2120px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4097px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 2627px;
  }

  .u-section-1 .u-gallery-2 {
    width: 340px;
    height: 1335px;
  }
}